{% extends 'base.html.twig' %}
{% block title %}Welcome!{% endblock %}
{% block body %}
    <h1>Users:</h1>

    <div class="list-group" style="font-size: 1em">
        {% for user in users %}
            <a href="{{ path('overtime_admin_showallbyuserid', { 'id': user.id }) }}" class="list-group-item">{{ user.username }}</a>
        {% endfor %}
    </div>
{% endblock %}