{% extends 'base.html.twig' %}
{% block title %}Welcome!{% endblock %}
{% block body %}
    <h1>Users:</h1>

    <div class="list-group" style="font-size: 1em">
        {% for user in users %}
            {% if user.username != 'admin' %}
                <a href="{{ path('overtime_admin_showallbyuserid', { 'id': user.id }) }}" class="list-group-item">
                    <span class="glyphicon glyphicon-plus aria-hidden="true"></span>
                    {{ user.username }}
                </a>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}